html {
    height: 100%;
}
body {
    /*top: 0px; left: 0px;*/
    background-color: black;
    background-image: url("donate.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.nowrap {
    overflow-wrap: break-word;
}
.text-dec-none {
    text-decoration: none;
}
#donolist {
    overflow-y: scroll;
    height: 50%;

    /*-ms-overflow-style: none;
    scrollbar-width: none;*/
}
/*#donolist::-webkit-scrollbar {
    display: none;
}*/
#blog {
    text-align: justify;
    height: 50%;
    padding: 0 30% 0 15%;
    overflow-y: scroll;
}
.post {
    white-space: pre-line;
}
#maindiv {
    white-space: pre-wrap;
    font-family: "Courier New", monospace;
    text-shadow: 1px 1px #000000;
    font-size: 25px;
    color: #FFFFFF;
}
footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
#disclaimer {
    bottom: 0;
    position: fixed;
    font-size: small;
    right: 1em;
    display: flex;
}
a:link, a:active, a:visited{ color: lightblue; }
a:hover { color: rgb(144, 198, 216)}

img {
    vertical-align: middle;
    height: 96px;
}
