html {
    height: 100%;
}
body {
    top, left: 0px;
    background-color: black;
    background-image: url("donate.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.nowrap {
    overflow-wrap: break-word;
}
#maindiv {
    white-space: pre-wrap;
    font-family: "Courier New", monospace;
    text-shadow: 1px 1px #000000;
    font-size: 25px;
    color: #FFFFFF;
}
footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
#disclaimer {
    bottom: 0;
    position: fixed;
    text-align: right;
}
a:link, a:active, a:visited{ color: lightblue; }
a:hover { color: rgb(144, 198, 216)}
